.login-register-background {
  height: 100vh;
  background-image: url("https://c1.wallpaperflare.com/preview/608/164/965/library-books-education-knowledge.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.flex {
  display: flex;
}

.items-center {
  align-items: center;
}

.justify-center {
  justify-content: center;
}

.min-h-screen {
  min-height: 100vh;
}

.bg-primary {
  background-color: #3490dc; /* Adjust the color as needed */
}

.hover\:bg-primaryDark:hover {
  background-color: #2779bd; /* Adjust the color as needed */
}
